Cerealizer==0.8.1
Cython==0.25.2
numpy==1.12.1
olefile==0.44
Pillow==4.0.0
PyAudio==0.2.11
pygame==1.9.3
PyOpenGL==3.1.0
PyOpenGL-accelerate==3.1.0
https://github.com/fofix/fretwork/archive/0.2.0.tar.gz
